# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
client/node_modules
server/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.*

# React build
build/
client/build/


# React env files
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

# Server env
server/.env

# Server logs
server/logs/

# Temporary files
tmp/
temp/

# Firebase admin keys
serviceAccountKey.json
server/config/serviceAccountKey.json

# Firebase local config
.firebase/
firebase-debug.log

