/**** DASHBOARD CONTENT CSS ****/

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* APP COLORS */
:root {
  --coffee: #7F5539;
  --toffee-brown: #9C6644;
  --copper: #B08968;
  --tan: #DDB892;
  --paleoak: #E6CCB2;
  --cream: #EDE0D4;
}

.dashboard-content{
    background-color: var(--copper);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-width: 100%;
}

#dashboard-greetings{
    font-family: "IM FELL DW Pica", serif;
    font-style: italic;
    font-size: 35px;
    margin-top: 0.5rem;
    font-weight: 500;
}

.add-journal{
    width: 80%;
    padding: 3% 0px;
    font-size: larger;
    margin-bottom: 1rem;
}

.add-journal.btn-primary{
    --bs-btn-color: #51331f;
    --bs-btn-bg: var(--cream);
    --bs-btn-hover-color: #51331f;
    --bs-btn-hover-bg: var(--paleoak);
    --bs-btn-border-color: none;
    --bs-btn-active-bg: var(--tan);
    --bs-btn-active-color: #51331f;
}

